<div class="chica chica-grande grande-derecha">
    <a class="link" href="http://webcams.cumlouder.com/joinmb/cumlouder/{{ webcam.wbmerPermalink }}/?nats={{ partner.nats1 }}" title="">
        <span class="thumb"><img src="{{ cumlouder_images_base_url ~ '/' ~ webcam.wbmerThumb1 }}" width="175" height="150" alt="{{ webcam.wbmerNick }}" title="{{ webcam.wbmerNick }}" /></span>
        <span class="nombre-chica"> <span class="ico-online"></span> {{ webcam.wbmerNick }}</span>
        <span id="favorito" class="ico-favorito" ></span>
    </a>
</div>
